<ion-view view-title="Intro">

    <ion-header-bar>

        <ion-nav-buttons side="left">
            <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        </ion-nav-buttons>

        <ion-nav-buttons side="right" >
            <!--i class="icon ion-ios7-plus-outline"></i-->
            <button ng-click="showAddChangeDialog('add')"> Add</button>
        </ion-nav-buttons>

    </ion-header-bar>

    <ion-content has-header="true">

    <ion-slide-box on-slide-changed="slideChanged(index)">
        <ion-slide>
            <h3>Rating</h3>
            <div ng-init="rating = star.rating + 1"></div>

            <div class="star-rating" star-rating rating-value="rating"

                 data-max="5" on-rating-selected="rateFunction(rating)"></div>

            <!--div class="item range range-balanced">
                <input type="range" ng-model="comment.rating" name="rating" min="1" max="5" value="5">
                <i class="icon ion-ios7-heart"></i>
                <i class="icon" ng-class="{'ion-ios7-heart': comment.rating > 1, 'ion-ios7-heart-outline': comment.rating < 2}"></i>
                <i class="icon" ng-class="{'ion-ios7-heart': comment.rating > 1, 'ion-ios7-heart-outline': comment.rating < 2}"></i>
                <i class="icon" ng-class="{'ion-ios7-heart': comment.rating > 2, 'ion-ios7-heart-outline': comment.rating < 3}"></i>
                <i class="icon" ng-class="{'ion-ios7-heart': comment.rating > 3, 'ion-ios7-heart-outline': comment.rating < 4}"></i>
                <i class="icon" ng-class="{'ion-ios7-heart': comment.rating > 4, 'ion-ios7-heart-outline': comment.rating < 5}"></i>
            </div>
            <button class="button button-block button-balanced" ng-click="sendComments()">Send</button>
            </div-->

        </ion-slide>

        <ion-slide>


            <h3>PlantMD</h3>
            <div id="logo">
                <img src="img/k0736433.jpg" />
            </div>
            <p>
                Connect locally or globally
            </p>
            <p>
                with farmers
            </p>
        </ion-slide>
        <ion-slide>
            <h3>Solve & Share problems</h3>

            <div id="list">

                <ol>
                    <li>Crop Disease & Cure</li>
                    <li>Water Quality & Improvements</li>
                    <li>Trade</li>
                </ol>
            </div>
        </ion-slide>



    </ion-slide-box>

    </ion-content>
</ion-view>