<!--
  This template loads for the 'ListExample' state (app.js)
-->
<ion-view title="Users ">
<ion-header-bar>

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>



</ion-header-bar>
<ion-content has-header="true">

    <ion-refresher pulling-text="Pull to refresh" on-refresh="doRefresh()">
    </ion-refresher>


    <ion-list option-buttons="itemButtons" can-swipe="true">
        <label class="item item-divider">
            List
        </label>

        <!--  -->
        <ion-item  ng-repeat="user in userList | orderBy:'distance'" item="item" item-type="item item-icon-left" ng-click="makeDefault(item)" ng-tap="makeDefault(item)">
            <div  ng-repeat="friend in friendList" >

                <i ng-if="user.uid==friend.uid" class="icon ion-checkmark"></i>
                {{ user.uName }} {{user.distance}}
            </div>
        </ion-item>
    </ion-list>
</ion-content>

</ion-view>